## Download and Clean Dataset
#### Let's start by importing the pandas and the Numpy libraries.

In [26]:
import pandas as pd
import numpy as np

In [27]:
#import Dataset and creation of DataFrame
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe

<bound method NDFrame.describe of       Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
0      540.0                 0.0      0.0  162.0               2.5
1      540.0                 0.0      0.0  162.0               2.5
2      332.5               142.5      0.0  228.0               0.0
3      332.5               142.5      0.0  228.0               0.0
4      198.6               132.4      0.0  192.0               0.0
...      ...                 ...      ...    ...               ...
1025   276.4               116.0     90.3  179.6               8.9
1026   322.2                 0.0    115.6  196.0              10.4
1027   148.5               139.4    108.6  192.7               6.1
1028   159.1               186.7      0.0  175.6              11.3
1029   260.9               100.5     78.3  200.6               8.6

      Coarse Aggregate  Fine Aggregate  Age  Strength
0               1040.0           676.0   28     79.99
1               1055.0           676.0   28     61.89
2                932.0           594.0  270     40.27
3                932.0           594.0  365     41.05
4                978.4           825.5  360     44.30
...                ...             ...  ...       ...
1025             870.1           768.3   28     44.28
1026             817.9           813.4   28     31.18
1027             892.4           780.0   28     23.70
1028             989.6           788.9   28     32.77
1029             864.5           761.5   28     32.40

[1030 rows x 9 columns]>

In [28]:
#Checking if the Data is Clean 
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [29]:
# Seperating Target and Predictors

concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [30]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [31]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [32]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

# Import Keras

In [33]:
import keras

In [34]:
from keras.models import Sequential
from keras.layers import Dense

In [35]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [36]:

from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# Train and Test the Network¶
###### Let's call the function now to create our model.

In [38]:
# build the model
model = regression_model()

In [45]:

# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 70us/step - loss: 64.2300
Epoch 2/50
721/721 [==============================] - 0s 70us/step - loss: 65.7069
Epoch 3/50
721/721 [==============================] - 0s 57us/step - loss: 63.9951
Epoch 4/50
721/721 [==============================] - 0s 100us/step - loss: 62.3772
Epoch 5/50
721/721 [==============================] - 0s 79us/step - loss: 64.0665
Epoch 6/50
721/721 [==============================] - 0s 58us/step - loss: 66.4848
Epoch 7/50
721/721 [==============================] - 0s 90us/step - loss: 64.7850
Epoch 8/50
721/721 [==============================] - 0s 113us/step - loss: 65.2195
Epoch 9/50
721/721 [==============================] - 0s 89us/step - loss: 64.6742
Epoch 10/50
721/721 [==============================] - 0s 100us/step - loss: 62.8220
Epoch 11/50
721/721 [==============================] - 0s 126us/step - loss: 63.0805
Epoch 12/50
721/721 [==============================] - 0s 73us/step - loss: 66.3345
Epoch 13/50
721/721 [==============================] - 0s 68us/step - loss: 66.6923
Epoch 14/50
721/721 [==============================] - 0s 67us/step - loss: 65.7718
Epoch 15/50
721/721 [==============================] - 0s 166us/step - loss: 65.1738
Epoch 16/50
721/721 [==============================] - 0s 71us/step - loss: 63.8542
Epoch 17/50
721/721 [==============================] - 0s 94us/step - loss: 65.4376
Epoch 18/50
721/721 [==============================] - 0s 72us/step - loss: 64.2339
Epoch 19/50
721/721 [==============================] - 0s 74us/step - loss: 65.6549
Epoch 20/50
721/721 [==============================] - 0s 123us/step - loss: 65.8656
Epoch 21/50
721/721 [==============================] - 0s 113us/step - loss: 66.2776
Epoch 22/50
721/721 [==============================] - 0s 81us/step - loss: 66.2862
Epoch 23/50
721/721 [==============================] - 0s 64us/step - loss: 63.9304
Epoch 24/50
721/721 [==============================] - 0s 75us/step - loss: 63.8623
Epoch 25/50
721/721 [==============================] - 0s 92us/step - loss: 65.1397
Epoch 26/50
721/721 [==============================] - 0s 59us/step - loss: 62.2006
Epoch 27/50
721/721 [==============================] - 0s 81us/step - loss: 66.3275
Epoch 28/50
721/721 [==============================] - 0s 97us/step - loss: 63.3970
Epoch 29/50
721/721 [==============================] - 0s 103us/step - loss: 66.7852
Epoch 30/50
721/721 [==============================] - 0s 67us/step - loss: 71.1984
Epoch 31/50
721/721 [==============================] - 0s 98us/step - loss: 63.5947
Epoch 32/50
721/721 [==============================] - 0s 73us/step - loss: 62.4597
Epoch 33/50
721/721 [==============================] - 0s 88us/step - loss: 62.9932
Epoch 34/50
721/721 [==============================] - 0s 134us/step - loss: 63.8890
Epoch 35/50
721/721 [==============================] - 0s 112us/step - loss: 63.2600
Epoch 36/50
721/721 [==============================] - 0s 96us/step - loss: 63.8226
Epoch 37/50
721/721 [==============================] - 0s 70us/step - loss: 65.3104
Epoch 38/50
721/721 [==============================] - 0s 76us/step - loss: 65.4749
Epoch 39/50
721/721 [==============================] - 0s 78us/step - loss: 62.6601
Epoch 40/50
721/721 [==============================] - 0s 77us/step - loss: 65.2140
Epoch 41/50
721/721 [==============================] - 0s 78us/step - loss: 63.3550
Epoch 42/50
721/721 [==============================] - 0s 64us/step - loss: 62.7816
Epoch 43/50
721/721 [==============================] - 0s 79us/step - loss: 63.8496
Epoch 44/50
721/721 [==============================] - 0s 68us/step - loss: 64.3565
Epoch 45/50
721/721 [==============================] - 0s 73us/step - loss: 63.5144
Epoch 46/50
721/721 [==============================] - 0s 85us/step - loss: 64.9857
Epoch 47/50
721/721 [==============================] - 0s 115us/step - loss: 61.3637
Epoch 48/50
721/721 [==============================] - 0s 188us/step - loss: 64.4985
Epoch 49/50
721/721 [==============================] - 0s 107us/step - loss: 67.4709
Epoch 50/50
721/721 [==============================] - 0s 127us/step - loss: 62.9442

#### Next we need to evaluate the model on the test data.

In [46]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 58us/step

66.27085260434444

## Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

#### Let's import the mean_squared_error function from Scikit-learn.

In [41]:
from sklearn.metrics import mean_squared_error

In [47]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

66.27085410353713 0.0

### Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [48]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 60.48418582064434
MSE 2: 72.9756816629453
MSE 3: 67.54310358535125
MSE 4: 66.14165801755047
MSE 5: 67.79804172947955
MSE 6: 70.22495321625645
MSE 7: 76.62532329867959
MSE 8: 58.391319003305775
MSE 9: 72.73662621457986
MSE 10: 68.45986753297083
MSE 11: 62.66052026347435
MSE 12: 59.55944815577041
MSE 13: 70.89794297202891
MSE 14: 79.81430705542704
MSE 15: 66.55143174847353
MSE 16: 59.1740678583534
MSE 17: 60.636568544752
MSE 18: 62.5956126833425
MSE 19: 61.63624471522458
MSE 20: 68.32105626720441
MSE 21: 58.30365496391617
MSE 22: 66.74403034444765
MSE 23: 57.48853311878192
MSE 24: 63.01588122667232
MSE 25: 62.649569267593925
MSE 26: 73.55418815736246
MSE 27: 64.06197352239614
MSE 28: 69.91321692111808
MSE 29: 68.6369110527162
MSE 30: 66.43031646827278
MSE 31: 68.14256986599524
MSE 32: 62.22335204337407
MSE 33: 59.54852803548177
MSE 34: 64.65209970813738
MSE 35: 70.0745919236859
MSE 36: 73.71654673455988
MSE 37: 61.989585851774244
MSE 38: 62.24567168893166
MSE 39: 61.35303709653589
MSE 40: 55.45395586328599
MSE 41: 66.87222358555469
MSE 42: 57.26891529367194
MSE 43: 65.61671973663627
MSE 44: 67.71354862941507
MSE 45: 69.44548170466253
MSE 46: 62.251784895616055
MSE 47: 62.641430876401635
MSE 48: 66.26195481679972
MSE 49: 62.979151691819474
MSE 50: 65.66582782831779


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 65.40286376831128
Standard Deviation: 5.195677291767977