## Download and Clean Dataset
#### Let's start by importing the pandas and the Numpy libraries.

In [26]:
import pandas as pd
import numpy as np

In [27]:
#import Dataset and creation of DataFrame
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe

<bound method NDFrame.describe of       Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
0      540.0                 0.0      0.0  162.0               2.5
1      540.0                 0.0      0.0  162.0               2.5
2      332.5               142.5      0.0  228.0               0.0
3      332.5               142.5      0.0  228.0               0.0
4      198.6               132.4      0.0  192.0               0.0
...      ...                 ...      ...    ...               ...
1025   276.4               116.0     90.3  179.6               8.9
1026   322.2                 0.0    115.6  196.0              10.4
1027   148.5               139.4    108.6  192.7               6.1
1028   159.1               186.7      0.0  175.6              11.3
1029   260.9               100.5     78.3  200.6               8.6

      Coarse Aggregate  Fine Aggregate  Age  Strength
0               1040.0           676.0   28     79.99
1               1055.0           676.0   28     61.89
2                932.0           594.0  270     40.27
3                932.0           594.0  365     41.05
4                978.4           825.5  360     44.30
...                ...             ...  ...       ...
1025             870.1           768.3   28     44.28
1026             817.9           813.4   28     31.18
1027             892.4           780.0   28     23.70
1028             989.6           788.9   28     32.77
1029             864.5           761.5   28     32.40

[1030 rows x 9 columns]>

In [28]:
#Checking if the Data is Clean 
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [29]:
# Seperating Target and Predictors

concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [30]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [49]:
target.head()
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [50]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

# Import Keras

In [33]:
import keras

In [34]:
from keras.models import Sequential
from keras.layers import Dense

In [35]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [36]:

from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# Train and Test the Network¶
###### Let's call the function now to create our model.

In [38]:
# build the model
model = regression_model()

In [51]:

# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 104us/step - loss: 56.2896
Epoch 2/50
721/721 [==============================] - 0s 82us/step - loss: 56.7015
Epoch 3/50
721/721 [==============================] - 0s 79us/step - loss: 56.7440
Epoch 4/50
721/721 [==============================] - 0s 65us/step - loss: 57.5901
Epoch 5/50
721/721 [==============================] - 0s 67us/step - loss: 56.7105
Epoch 6/50
721/721 [==============================] - 0s 63us/step - loss: 56.3377
Epoch 7/50
721/721 [==============================] - 0s 89us/step - loss: 59.0003
Epoch 8/50
721/721 [==============================] - 0s 90us/step - loss: 58.7549
Epoch 9/50
721/721 [==============================] - 0s 57us/step - loss: 56.1438
Epoch 10/50
721/721 [==============================] - 0s 60us/step - loss: 56.0718
Epoch 11/50
721/721 [==============================] - 0s 64us/step - loss: 59.7087
Epoch 12/50
721/721 [==============================] - 0s 70us/step - loss: 59.5686
Epoch 13/50
721/721 [==============================] - 0s 60us/step - loss: 58.3969
Epoch 14/50
721/721 [==============================] - 0s 59us/step - loss: 58.9508
Epoch 15/50
721/721 [==============================] - 0s 174us/step - loss: 55.8896
Epoch 16/50
721/721 [==============================] - 0s 83us/step - loss: 57.8079
Epoch 17/50
721/721 [==============================] - 0s 75us/step - loss: 56.8016
Epoch 18/50
721/721 [==============================] - 0s 60us/step - loss: 59.0695
Epoch 19/50
721/721 [==============================] - 0s 80us/step - loss: 58.3229
Epoch 20/50
721/721 [==============================] - 0s 57us/step - loss: 56.3263
Epoch 21/50
721/721 [==============================] - 0s 53us/step - loss: 56.9054
Epoch 22/50
721/721 [==============================] - 0s 55us/step - loss: 57.6989
Epoch 23/50
721/721 [==============================] - 0s 61us/step - loss: 58.9143
Epoch 24/50
721/721 [==============================] - 0s 57us/step - loss: 56.4746
Epoch 25/50
721/721 [==============================] - 0s 80us/step - loss: 56.1104
Epoch 26/50
721/721 [==============================] - 0s 56us/step - loss: 57.1263
Epoch 27/50
721/721 [==============================] - 0s 66us/step - loss: 57.2685
Epoch 28/50
721/721 [==============================] - 0s 66us/step - loss: 56.1443
Epoch 29/50
721/721 [==============================] - 0s 64us/step - loss: 56.6316
Epoch 30/50
721/721 [==============================] - 0s 85us/step - loss: 56.4189
Epoch 31/50
721/721 [==============================] - 0s 65us/step - loss: 57.1788
Epoch 32/50
721/721 [==============================] - 0s 72us/step - loss: 59.7586
Epoch 33/50
721/721 [==============================] - 0s 75us/step - loss: 57.9400
Epoch 34/50
721/721 [==============================] - 0s 59us/step - loss: 56.7677
Epoch 35/50
721/721 [==============================] - 0s 56us/step - loss: 56.2418
Epoch 36/50
721/721 [==============================] - 0s 58us/step - loss: 56.5228
Epoch 37/50
721/721 [==============================] - 0s 59us/step - loss: 56.0844
Epoch 38/50
721/721 [==============================] - 0s 66us/step - loss: 56.8951
Epoch 39/50
721/721 [==============================] - 0s 193us/step - loss: 56.8216
Epoch 40/50
721/721 [==============================] - 0s 65us/step - loss: 56.3315
Epoch 41/50
721/721 [==============================] - 0s 65us/step - loss: 56.8089
Epoch 42/50
721/721 [==============================] - 0s 64us/step - loss: 57.1023
Epoch 43/50
721/721 [==============================] - 0s 72us/step - loss: 56.2458
Epoch 44/50
721/721 [==============================] - 0s 138us/step - loss: 56.3959
Epoch 45/50
721/721 [==============================] - 0s 86us/step - loss: 59.6433
Epoch 46/50
721/721 [==============================] - 0s 82us/step - loss: 56.1617
Epoch 47/50
721/721 [==============================] - 0s 108us/step - loss: 58.3166
Epoch 48/50
721/721 [==============================] - 0s 68us/step - loss: 56.0593
Epoch 49/50
721/721 [==============================] - 0s 84us/step - loss: 56.7076
Epoch 50/50
721/721 [==============================] - 0s 112us/step - loss: 57.0608

#### Next we need to evaluate the model on the test data.

In [52]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 123us/step

64.69826893976206

## Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

#### Let's import the mean_squared_error function from Scikit-learn.

In [41]:
from sklearn.metrics import mean_squared_error

In [53]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

64.69826882250199 0.0

### Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [54]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 58.06422411971108
MSE 2: 64.91406074696759
MSE 3: 48.73250189722549
MSE 4: 52.244329977189835
MSE 5: 49.99095336519013
MSE 6: 51.25969809621669
MSE 7: 54.85643368322872
MSE 8: 49.68496831875403
MSE 9: 43.684850229800325
MSE 10: 52.744745569321715
MSE 11: 47.744783432352506
MSE 12: 45.26769581890415
MSE 13: 50.43322476137032
MSE 14: 47.083056131998696
MSE 15: 40.81288306227008
MSE 16: 44.69545005131694
MSE 17: 44.735592666181546
MSE 18: 42.72793809958646
MSE 19: 37.0203356820017
MSE 20: 43.88759862412141
MSE 21: 41.44110080262218
MSE 22: 39.00144310367917
MSE 23: 34.34476591931192
MSE 24: 40.52546224007715
MSE 25: 43.306052970268965
MSE 26: 41.48893261264443
MSE 27: 40.02348098014165
MSE 28: 36.99872850214393
MSE 29: 40.8301492462652
MSE 30: 45.23010575501279
MSE 31: 46.76614974926205
MSE 32: 34.805757985531706
MSE 33: 37.89249830029929
MSE 34: 39.63662693801435
MSE 35: 40.65717165061185
MSE 36: 42.86771229247059
MSE 37: 42.25579333999782
MSE 38: 43.24652124299972
MSE 39: 40.774324102309144
MSE 40: 34.200603423380926
MSE 41: 44.0427970454145
MSE 42: 36.86515236518144
MSE 43: 40.466597597190095
MSE 44: 49.939252637350826
MSE 45: 50.815302728449254
MSE 46: 41.89125242511046
MSE 47: 44.958907574897445
MSE 48: 45.86551147757225
MSE 49: 44.832012682670914
MSE 50: 43.75985442473279


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 44.40630660115285
Standard Deviation: 6.010748299360518