## Download and Clean Dataset
#### Let's start by importing the pandas and the Numpy libraries.

In [26]:
import pandas as pd
import numpy as np

In [27]:
#import Dataset and creation of DataFrame
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe

<bound method NDFrame.describe of       Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
0      540.0                 0.0      0.0  162.0               2.5
1      540.0                 0.0      0.0  162.0               2.5
2      332.5               142.5      0.0  228.0               0.0
3      332.5               142.5      0.0  228.0               0.0
4      198.6               132.4      0.0  192.0               0.0
...      ...                 ...      ...    ...               ...
1025   276.4               116.0     90.3  179.6               8.9
1026   322.2                 0.0    115.6  196.0              10.4
1027   148.5               139.4    108.6  192.7               6.1
1028   159.1               186.7      0.0  175.6              11.3
1029   260.9               100.5     78.3  200.6               8.6

      Coarse Aggregate  Fine Aggregate  Age  Strength
0               1040.0           676.0   28     79.99
1               1055.0           676.0   28     61.89
2                932.0           594.0  270     40.27
3                932.0           594.0  365     41.05
4                978.4           825.5  360     44.30
...                ...             ...  ...       ...
1025             870.1           768.3   28     44.28
1026             817.9           813.4   28     31.18
1027             892.4           780.0   28     23.70
1028             989.6           788.9   28     32.77
1029             864.5           761.5   28     32.40

[1030 rows x 9 columns]>

In [28]:
#Checking if the Data is Clean 
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [29]:
# Seperating Target and Predictors

concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [30]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [49]:
target.head()
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [50]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

# Import Keras

In [33]:
import keras

In [34]:
from keras.models import Sequential
from keras.layers import Dense

In [35]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [36]:

from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# Train and Test the Network¶
###### Let's call the function now to create our model.

In [38]:
# build the model
model = regression_model()

In [55]:

# fit the model
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/100
721/721 [==============================] - 0s 109us/step - loss: 41.6332
Epoch 2/100
721/721 [==============================] - 0s 56us/step - loss: 40.2965
Epoch 3/100
721/721 [==============================] - 0s 61us/step - loss: 39.1250
Epoch 4/100
721/721 [==============================] - 0s 79us/step - loss: 37.9345
Epoch 5/100
721/721 [==============================] - 0s 69us/step - loss: 38.5880
Epoch 6/100
721/721 [==============================] - 0s 81us/step - loss: 38.0652
Epoch 7/100
721/721 [==============================] - 0s 67us/step - loss: 37.6825
Epoch 8/100
721/721 [==============================] - 0s 64us/step - loss: 37.7722
Epoch 9/100
721/721 [==============================] - 0s 67us/step - loss: 39.5253
Epoch 10/100
721/721 [==============================] - 0s 56us/step - loss: 39.1537
Epoch 11/100
721/721 [==============================] - 0s 61us/step - loss: 38.2315
Epoch 12/100
721/721 [==============================] - 0s 59us/step - loss: 39.3083
Epoch 13/100
721/721 [==============================] - 0s 70us/step - loss: 38.1113
Epoch 14/100
721/721 [==============================] - 0s 61us/step - loss: 38.5442
Epoch 15/100
721/721 [==============================] - 0s 71us/step - loss: 38.8731
Epoch 16/100
721/721 [==============================] - 0s 70us/step - loss: 38.9494
Epoch 17/100
721/721 [==============================] - 0s 84us/step - loss: 37.7906
Epoch 18/100
721/721 [==============================] - 0s 97us/step - loss: 37.9226
Epoch 19/100
721/721 [==============================] - 0s 79us/step - loss: 38.1957
Epoch 20/100
721/721 [==============================] - 0s 70us/step - loss: 38.2235
Epoch 21/100
721/721 [==============================] - 0s 90us/step - loss: 40.3050
Epoch 22/100
721/721 [==============================] - 0s 98us/step - loss: 37.4911
Epoch 23/100
721/721 [==============================] - 0s 55us/step - loss: 38.2751
Epoch 24/100
721/721 [==============================] - 0s 59us/step - loss: 39.1198
Epoch 25/100
721/721 [==============================] - 0s 58us/step - loss: 39.9495
Epoch 26/100
721/721 [==============================] - 0s 69us/step - loss: 39.9608
Epoch 27/100
721/721 [==============================] - 0s 56us/step - loss: 39.1044
Epoch 28/100
721/721 [==============================] - 0s 79us/step - loss: 38.5406
Epoch 29/100
721/721 [==============================] - 0s 62us/step - loss: 38.1804
Epoch 30/100
721/721 [==============================] - 0s 61us/step - loss: 37.6717
Epoch 31/100
721/721 [==============================] - 0s 56us/step - loss: 38.0328
Epoch 32/100
721/721 [==============================] - 0s 57us/step - loss: 37.8443
Epoch 33/100
721/721 [==============================] - 0s 70us/step - loss: 38.6069
Epoch 34/100
721/721 [==============================] - 0s 61us/step - loss: 38.2342
Epoch 35/100
721/721 [==============================] - 0s 57us/step - loss: 37.8355
Epoch 36/100
721/721 [==============================] - 0s 67us/step - loss: 39.7737
Epoch 37/100
721/721 [==============================] - 0s 93us/step - loss: 38.0331
Epoch 38/100
721/721 [==============================] - 0s 101us/step - loss: 39.1523
Epoch 39/100
721/721 [==============================] - 0s 57us/step - loss: 38.9688
Epoch 40/100
721/721 [==============================] - 0s 60us/step - loss: 38.7378
Epoch 41/100
721/721 [==============================] - 0s 80us/step - loss: 37.7085
Epoch 42/100
721/721 [==============================] - 0s 73us/step - loss: 38.1487
Epoch 43/100
721/721 [==============================] - 0s 60us/step - loss: 38.4068
Epoch 44/100
721/721 [==============================] - 0s 52us/step - loss: 38.6647
Epoch 45/100
721/721 [==============================] - 0s 62us/step - loss: 42.4802
Epoch 46/100
721/721 [==============================] - 0s 65us/step - loss: 37.8318
Epoch 47/100
721/721 [==============================] - 0s 72us/step - loss: 39.6702
Epoch 48/100
721/721 [==============================] - 0s 58us/step - loss: 39.1094
Epoch 49/100
721/721 [==============================] - 0s 105us/step - loss: 39.2995
Epoch 50/100
721/721 [==============================] - 0s 100us/step - loss: 40.8758
Epoch 51/100
721/721 [==============================] - 0s 71us/step - loss: 39.7856
Epoch 52/100
721/721 [==============================] - 0s 76us/step - loss: 38.6048
Epoch 53/100
721/721 [==============================] - 0s 85us/step - loss: 39.6549
Epoch 54/100
721/721 [==============================] - 0s 85us/step - loss: 39.5257
Epoch 55/100
721/721 [==============================] - 0s 63us/step - loss: 37.5748
Epoch 56/100
721/721 [==============================] - 0s 88us/step - loss: 38.5013
Epoch 57/100
721/721 [==============================] - 0s 81us/step - loss: 42.9648
Epoch 58/100
721/721 [==============================] - 0s 72us/step - loss: 39.7261
Epoch 59/100
721/721 [==============================] - 0s 69us/step - loss: 38.6991
Epoch 60/100
721/721 [==============================] - 0s 61us/step - loss: 37.7289
Epoch 61/100
721/721 [==============================] - 0s 104us/step - loss: 37.4462
Epoch 62/100
721/721 [==============================] - 0s 99us/step - loss: 39.7444
Epoch 63/100
721/721 [==============================] - 0s 94us/step - loss: 38.1609
Epoch 64/100
721/721 [==============================] - 0s 70us/step - loss: 38.1793
Epoch 65/100
721/721 [==============================] - 0s 65us/step - loss: 38.4517
Epoch 66/100
721/721 [==============================] - 0s 58us/step - loss: 37.9198
Epoch 67/100
721/721 [==============================] - 0s 56us/step - loss: 38.0915
Epoch 68/100
721/721 [==============================] - 0s 63us/step - loss: 39.3368
Epoch 69/100
721/721 [==============================] - 0s 62us/step - loss: 38.6585
Epoch 70/100
721/721 [==============================] - 0s 75us/step - loss: 41.5688
Epoch 71/100
721/721 [==============================] - 0s 98us/step - loss: 38.9662
Epoch 72/100
721/721 [==============================] - 0s 86us/step - loss: 39.0472
Epoch 73/100
721/721 [==============================] - 0s 64us/step - loss: 40.0397
Epoch 74/100
721/721 [==============================] - 0s 62us/step - loss: 39.0209
Epoch 75/100
721/721 [==============================] - 0s 64us/step - loss: 38.2179
Epoch 76/100
721/721 [==============================] - 0s 73us/step - loss: 39.3792
Epoch 77/100
721/721 [==============================] - 0s 92us/step - loss: 41.3386
Epoch 78/100
721/721 [==============================] - 0s 111us/step - loss: 39.6858
Epoch 79/100
721/721 [==============================] - 0s 107us/step - loss: 39.1849
Epoch 80/100
721/721 [==============================] - 0s 80us/step - loss: 38.0349
Epoch 81/100
721/721 [==============================] - 0s 93us/step - loss: 39.2426
Epoch 82/100
721/721 [==============================] - 0s 103us/step - loss: 38.8527
Epoch 83/100
721/721 [==============================] - 0s 93us/step - loss: 40.1009 0s - loss: 38.87
Epoch 84/100
721/721 [==============================] - 0s 129us/step - loss: 41.0161
Epoch 85/100
721/721 [==============================] - 0s 107us/step - loss: 38.7003
Epoch 86/100
721/721 [==============================] - 0s 59us/step - loss: 39.3947
Epoch 87/100
721/721 [==============================] - 0s 59us/step - loss: 39.0826
Epoch 88/100
721/721 [==============================] - 0s 67us/step - loss: 38.7289
Epoch 89/100
721/721 [==============================] - 0s 84us/step - loss: 37.5631
Epoch 90/100
721/721 [==============================] - 0s 83us/step - loss: 38.1313
Epoch 91/100
721/721 [==============================] - 0s 86us/step - loss: 38.1822
Epoch 92/100
721/721 [==============================] - 0s 93us/step - loss: 39.5712
Epoch 93/100
721/721 [==============================] - 0s 68us/step - loss: 39.8183
Epoch 94/100
721/721 [==============================] - 0s 74us/step - loss: 38.5167
Epoch 95/100
721/721 [==============================] - 0s 69us/step - loss: 38.6821
Epoch 96/100
721/721 [==============================] - 0s 90us/step - loss: 38.3641
Epoch 97/100
721/721 [==============================] - 0s 88us/step - loss: 37.7740
Epoch 98/100
721/721 [==============================] - 0s 64us/step - loss: 38.8983
Epoch 99/100
721/721 [==============================] - 0s 57us/step - loss: 37.9015
Epoch 100/100
721/721 [==============================] - 0s 57us/step - loss: 37.8157

#### Next we need to evaluate the model on the test data.

In [56]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 145us/step

42.82182204607621

## Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

#### Let's import the mean_squared_error function from Scikit-learn.

In [57]:
from sklearn.metrics import mean_squared_error

In [58]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

42.82182142259439 0.0

### Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [59]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 45.7594626590272
MSE 2: 48.09443210243793
MSE 3: 36.27450943610429
MSE 4: 49.30532465320575
MSE 5: 41.68616185604947
MSE 6: 41.06322484186166
MSE 7: 48.54149190661977
MSE 8: 42.09405500294707
MSE 9: 37.7147454073514
MSE 10: 55.86878285824674
MSE 11: 40.87414601396974
MSE 12: 38.6977266848666
MSE 13: 44.38123551155757
MSE 14: 44.99717260564415
MSE 15: 42.40075863835109
MSE 16: 38.39474620016647
MSE 17: 42.69000845356666
MSE 18: 42.47142127570982
MSE 19: 36.75344490619153
MSE 20: 43.52254123132206
MSE 21: 42.53694819478155
MSE 22: 38.85528571860304
MSE 23: 34.457478063392024
MSE 24: 36.45192392589976
MSE 25: 43.334814417323635
MSE 26: 42.049145102886705
MSE 27: 40.325896352625975
MSE 28: 36.33818401719374
MSE 29: 41.9943979257133
MSE 30: 41.31975865286917
MSE 31: 43.73491885978427
MSE 32: 33.40953163344498
MSE 33: 37.41547803662741
MSE 34: 37.921907727386575
MSE 35: 39.39574400275271
MSE 36: 38.51147604760229
MSE 37: 40.73950474007616
MSE 38: 42.76837511278665
MSE 39: 38.65727589431318
MSE 40: 32.346894816673306
MSE 41: 42.83718582573061
MSE 42: 35.589463255552026
MSE 43: 38.62656113707904
MSE 44: 48.06203237243455
MSE 45: 42.60247131150131
MSE 46: 40.87368670713554
MSE 47: 43.12200225286885
MSE 48: 41.331705827929056
MSE 49: 44.18252712854675
MSE 50: 40.059611459380214


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 100

Mean: 41.228751270181874
Standard Deviation: 4.264690166108659