## Download and Clean Dataset
#### Let's start by importing the pandas and the Numpy libraries.

In [26]:
import pandas as pd
import numpy as np

In [27]:
#import Dataset and creation of DataFrame
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe

<bound method NDFrame.describe of       Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
0      540.0                 0.0      0.0  162.0               2.5
1      540.0                 0.0      0.0  162.0               2.5
2      332.5               142.5      0.0  228.0               0.0
3      332.5               142.5      0.0  228.0               0.0
4      198.6               132.4      0.0  192.0               0.0
...      ...                 ...      ...    ...               ...
1025   276.4               116.0     90.3  179.6               8.9
1026   322.2                 0.0    115.6  196.0              10.4
1027   148.5               139.4    108.6  192.7               6.1
1028   159.1               186.7      0.0  175.6              11.3
1029   260.9               100.5     78.3  200.6               8.6

      Coarse Aggregate  Fine Aggregate  Age  Strength
0               1040.0           676.0   28     79.99
1               1055.0           676.0   28     61.89
2                932.0           594.0  270     40.27
3                932.0           594.0  365     41.05
4                978.4           825.5  360     44.30
...                ...             ...  ...       ...
1025             870.1           768.3   28     44.28
1026             817.9           813.4   28     31.18
1027             892.4           780.0   28     23.70
1028             989.6           788.9   28     32.77
1029             864.5           761.5   28     32.40

[1030 rows x 9 columns]>

In [28]:
#Checking if the Data is Clean 
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [29]:
# Seperating Target and Predictors

concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [30]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [49]:
target.head()
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [50]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

# Import Keras

In [33]:
import keras

In [34]:
from keras.models import Sequential
from keras.layers import Dense

In [60]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [36]:

from sklearn.model_selection import train_test_split

In [67]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# Train and Test the Network¶
###### Let's call the function now to create our model.

In [68]:
# build the model
model = regression_model()

In [110]:
# fit the model
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

Epoch 1/100
721/721 [==============================] - 0s 158us/step - loss: 23.7959
Epoch 2/100
721/721 [==============================] - 0s 144us/step - loss: 24.5338
Epoch 3/100
721/721 [==============================] - 0s 167us/step - loss: 22.2987
Epoch 4/100
721/721 [==============================] - 0s 101us/step - loss: 22.3888
Epoch 5/100
721/721 [==============================] - 0s 115us/step - loss: 22.7959
Epoch 6/100
721/721 [==============================] - 0s 114us/step - loss: 21.7952
Epoch 7/100
721/721 [==============================] - 0s 75us/step - loss: 22.0376
Epoch 8/100
721/721 [==============================] - 0s 88us/step - loss: 21.5466
Epoch 9/100
721/721 [==============================] - 0s 90us/step - loss: 22.9348
Epoch 10/100
721/721 [==============================] - 0s 90us/step - loss: 21.2641
Epoch 11/100
721/721 [==============================] - 0s 102us/step - loss: 22.2413
Epoch 12/100
721/721 [==============================] - 0s 163us/step - loss: 21.6153
Epoch 13/100
721/721 [==============================] - 0s 108us/step - loss: 21.6677
Epoch 14/100
721/721 [==============================] - 0s 78us/step - loss: 22.4846
Epoch 15/100
721/721 [==============================] - 0s 74us/step - loss: 23.3691
Epoch 16/100
721/721 [==============================] - 0s 71us/step - loss: 21.4151
Epoch 17/100
721/721 [==============================] - 0s 94us/step - loss: 23.8575
Epoch 18/100
721/721 [==============================] - 0s 84us/step - loss: 22.8103
Epoch 19/100
721/721 [==============================] - 0s 98us/step - loss: 22.4867
Epoch 20/100
721/721 [==============================] - 0s 87us/step - loss: 22.2616
Epoch 21/100
721/721 [==============================] - 0s 82us/step - loss: 21.6509
Epoch 22/100
721/721 [==============================] - 0s 68us/step - loss: 21.7702
Epoch 23/100
721/721 [==============================] - 0s 81us/step - loss: 21.9344
Epoch 24/100
721/721 [==============================] - 0s 70us/step - loss: 21.5442
Epoch 25/100
721/721 [==============================] - 0s 68us/step - loss: 21.9488
Epoch 26/100
721/721 [==============================] - 0s 72us/step - loss: 21.5652
Epoch 27/100
721/721 [==============================] - 0s 72us/step - loss: 21.9867
Epoch 28/100
721/721 [==============================] - 0s 71us/step - loss: 21.2730
Epoch 29/100
721/721 [==============================] - 0s 69us/step - loss: 21.5351
Epoch 30/100
721/721 [==============================] - 0s 72us/step - loss: 23.6023
Epoch 31/100
721/721 [==============================] - 0s 70us/step - loss: 22.1058
Epoch 32/100
721/721 [==============================] - 0s 69us/step - loss: 21.5412
Epoch 33/100
721/721 [==============================] - 0s 71us/step - loss: 22.9520
Epoch 34/100
721/721 [==============================] - 0s 69us/step - loss: 21.8668
Epoch 35/100
721/721 [==============================] - 0s 71us/step - loss: 21.4629
Epoch 36/100
721/721 [==============================] - 0s 67us/step - loss: 21.9345
Epoch 37/100
721/721 [==============================] - 0s 69us/step - loss: 23.4588
Epoch 38/100
721/721 [==============================] - 0s 77us/step - loss: 22.0914
Epoch 39/100
721/721 [==============================] - 0s 92us/step - loss: 22.0276
Epoch 40/100
721/721 [==============================] - 0s 73us/step - loss: 22.7093
Epoch 41/100
721/721 [==============================] - 0s 69us/step - loss: 26.2058
Epoch 42/100
721/721 [==============================] - 0s 70us/step - loss: 21.4765
Epoch 43/100
721/721 [==============================] - 0s 70us/step - loss: 21.8890
Epoch 44/100
721/721 [==============================] - 0s 71us/step - loss: 21.8575
Epoch 45/100
721/721 [==============================] - 0s 84us/step - loss: 21.8822
Epoch 46/100
721/721 [==============================] - 0s 73us/step - loss: 22.4612
Epoch 47/100
721/721 [==============================] - 0s 86us/step - loss: 21.3973
Epoch 48/100
721/721 [==============================] - 0s 106us/step - loss: 21.1717
Epoch 49/100
721/721 [==============================] - 0s 100us/step - loss: 22.2007
Epoch 50/100
721/721 [==============================] - 0s 74us/step - loss: 23.1638
Epoch 51/100
721/721 [==============================] - 0s 74us/step - loss: 22.4432
Epoch 52/100
721/721 [==============================] - 0s 131us/step - loss: 23.1297
Epoch 53/100
721/721 [==============================] - 0s 104us/step - loss: 23.0367
Epoch 54/100
721/721 [==============================] - 0s 101us/step - loss: 22.5861
Epoch 55/100
721/721 [==============================] - 0s 125us/step - loss: 21.4239
Epoch 56/100
721/721 [==============================] - 0s 88us/step - loss: 21.6608
Epoch 57/100
721/721 [==============================] - 0s 104us/step - loss: 22.6541
Epoch 58/100
721/721 [==============================] - 0s 88us/step - loss: 22.2283
Epoch 59/100
721/721 [==============================] - 0s 81us/step - loss: 22.1757
Epoch 60/100
721/721 [==============================] - 0s 74us/step - loss: 22.0017
Epoch 61/100
721/721 [==============================] - 0s 71us/step - loss: 21.3212
Epoch 62/100
721/721 [==============================] - 0s 74us/step - loss: 22.8655
Epoch 63/100
721/721 [==============================] - 0s 88us/step - loss: 22.0081
Epoch 64/100
721/721 [==============================] - 0s 121us/step - loss: 23.5866
Epoch 65/100
721/721 [==============================] - 0s 100us/step - loss: 22.9757
Epoch 66/100
721/721 [==============================] - 0s 74us/step - loss: 23.7003
Epoch 67/100
721/721 [==============================] - 0s 85us/step - loss: 22.4453
Epoch 68/100
721/721 [==============================] - 0s 108us/step - loss: 22.1149
Epoch 69/100
721/721 [==============================] - 0s 81us/step - loss: 21.9424
Epoch 70/100
721/721 [==============================] - 0s 83us/step - loss: 21.9059
Epoch 71/100
721/721 [==============================] - 0s 70us/step - loss: 26.1223
Epoch 72/100
721/721 [==============================] - 0s 71us/step - loss: 23.3424
Epoch 73/100
721/721 [==============================] - 0s 85us/step - loss: 26.3663
Epoch 74/100
721/721 [==============================] - 0s 71us/step - loss: 23.3649
Epoch 75/100
721/721 [==============================] - 0s 135us/step - loss: 22.5151
Epoch 76/100
721/721 [==============================] - 0s 79us/step - loss: 21.5220
Epoch 77/100
721/721 [==============================] - 0s 67us/step - loss: 21.8089
Epoch 78/100
721/721 [==============================] - 0s 70us/step - loss: 21.6291
Epoch 79/100
721/721 [==============================] - 0s 80us/step - loss: 22.9371
Epoch 80/100
721/721 [==============================] - 0s 71us/step - loss: 21.5402
Epoch 81/100
721/721 [==============================] - 0s 76us/step - loss: 21.9028
Epoch 82/100
721/721 [==============================] - 0s 128us/step - loss: 21.0803
Epoch 83/100
721/721 [==============================] - 0s 71us/step - loss: 21.7467
Epoch 84/100
721/721 [==============================] - 0s 82us/step - loss: 21.7717
Epoch 85/100
721/721 [==============================] - 0s 71us/step - loss: 22.5600
Epoch 86/100
721/721 [==============================] - 0s 82us/step - loss: 22.0990
Epoch 87/100
721/721 [==============================] - 0s 71us/step - loss: 23.0729
Epoch 88/100
721/721 [==============================] - 0s 96us/step - loss: 22.4015
Epoch 89/100
721/721 [==============================] - 0s 90us/step - loss: 22.1741
Epoch 90/100
721/721 [==============================] - 0s 82us/step - loss: 21.3612
Epoch 91/100
721/721 [==============================] - 0s 90us/step - loss: 21.4823
Epoch 92/100
721/721 [==============================] - 0s 93us/step - loss: 21.2843
Epoch 93/100
721/721 [==============================] - 0s 84us/step - loss: 21.2170
Epoch 94/100
721/721 [==============================] - 0s 113us/step - loss: 21.5837
Epoch 95/100
721/721 [==============================] - 0s 102us/step - loss: 21.1413
Epoch 96/100
721/721 [==============================] - 0s 134us/step - loss: 22.8248
Epoch 97/100
721/721 [==============================] - 0s 68us/step - loss: 22.1591
Epoch 98/100
721/721 [==============================] - 0s 70us/step - loss: 23.6238
Epoch 99/100
721/721 [==============================] - 0s 73us/step - loss: 22.1724
Epoch 100/100
721/721 [==============================] - 0s 96us/step - loss: 21.4685
309/309 [==============================] - 0s 35us/step

31.928949843718396

#### Next we need to evaluate the model on the test data.

In [111]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 138us/step

31.928949843718396

## Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

#### Let's import the mean_squared_error function from Scikit-learn.

In [112]:
from sklearn.metrics import mean_squared_error

In [113]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

31.928950932224556 0.0

### Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [114]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 26.79896126287269
MSE 2: 28.33175094382277
MSE 3: 25.313824218453714
MSE 4: 28.578755320082976
MSE 5: 25.551693505839623
MSE 6: 26.79244718582499
MSE 7: 30.21355744395827
MSE 8: 24.61530680486685
MSE 9: 24.439836495902547
MSE 10: 24.084306186071107
MSE 11: 25.079068779559584
MSE 12: 23.231024239055547
MSE 13: 30.916811686889254
MSE 14: 28.215218417467035
MSE 15: 25.971453891988713
MSE 16: 21.564857316248624
MSE 17: 25.723465311488674
MSE 18: 28.39559758751138
MSE 19: 22.399251774291006
MSE 20: 26.022549910066967
MSE 21: 26.13605131994945
MSE 22: 24.276224080798695
MSE 23: 22.569458557178287
MSE 24: 26.163148318293796
MSE 25: 26.443415475123135
MSE 26: 26.873622548618748
MSE 27: 19.55998685521987
MSE 28: 23.2654498140403
MSE 29: 31.417360318131433
MSE 30: 28.702344878977556
MSE 31: 25.03374656504412
MSE 32: 20.591066199984752
MSE 33: 20.393518558983665
MSE 34: 28.06449501259813
MSE 35: 30.099473922383822
MSE 36: 26.107176703542567
MSE 37: 22.521790448901722
MSE 38: 25.998251202037032
MSE 39: 24.016343144537174
MSE 40: 21.363119520415765
MSE 41: 27.004444930931513
MSE 42: 24.172093295742393
MSE 43: 25.61356091730803
MSE 44: 28.290808804212652
MSE 45: 30.921845951512406
MSE 46: 26.763169822569417
MSE 47: 24.45022158329541
MSE 48: 25.092087156178497
MSE 49: 31.51203324648169
MSE 50: 25.690230817084945


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 100

Mean: 25.8269255776174
Standard Deviation: 2.8432180860405647